<div class="diplomat-container">
    <div class="dip-header">
        <div class="logo">
            <img class="logo" src="assets/images/icon-logo.png"
             alt="image fail"/>
        </div>
        <h3 class="diplomat">Diplomat</h3>
        <div class="settings-profile-container">
            <img class="settings-profile" src="assets/images/icon-settings.png"
             alt="image fail" (click)="aFunction()"/>
            <img class="settings-profile" src="assets/images/icon-default-profile.png"
             alt="image fail" (click)="aFunction()"/>
        </div>
    </div>

    <div class="info-container">
        <p class="info-text" id="topleft">Conflict: {{conflictName}}</p>
        <p class="info-text" id="topright">Names: {{person1Name}}, {{person2Name}}</p>
        <p class="info-text" id="botleft">Conflict Status: {{conflictStatus}}</p>
        <p class="info-text" id="botright">Deadline: {{deadline}}</p>
    </div>

    <div class="answers">
        <div class="left-comments">

            <div class="question-response-container">
                <h2 class="question-style">In one sentence, describe the source of the conflict.</h2>
                <p class="responses">My wife doesn't help me with the dishes.</p>
            </div>
            <div class="question-response-container">
                <h2 class="question-style">Describe one thing you like or appreciate about the other person.</h2>
                <p class="responses">My wife is hot.</p>
            </div>
            <div class="question-response-container">
                <h2 class="question-style">Describe the problematic behavior.</h2>
                <p class="responses">I'm home doing dishes everyday, but my wife doesn't contribute at all.
                    I know she's tired after a long day at work, but I'm tired as well from taking care of the 
                    kids, and I need her to help with the chores more often.
                </p>
            </div>
            <div class="question-response-container">
                <h2 class="question-style">Describe the emotions that you felt using "I" language.</h2>
                <p class="responses">I feel lost and abandoned when my wife doesn't help me out with the daily
                    chores. I would feel loved and appreciated if my wife helped more around the house.
                </p>
            </div>
            <div class="question-response-container">
                <h2 class="question-style">What needs to happen for the conflict to resolve?</h2>
            <p class="responses">I'd be happy with my wife helping out every now and then with the chores.</p>
            </div>
             
        </div>
        <div class="right-response">

            <div class="comment-section">
                <textarea class="comment-style" id="comment1" rows="4" cols="40"></textarea>
            </div>
            <div class="comment-section">
                <textarea class="comment-style" id="comment2" rows="4" cols="40"></textarea>
            </div>
            <div class="comment-section">
                <textarea class="comment-style" id="comment3" rows="4" cols="40"></textarea>
            </div>
            <div class="comment-section">
                <textarea class="comment-style" id="comment4" rows="4" cols="40"></textarea>
            </div>
            <div class="comment-section">
                <textarea class="comment-style" id="comment5" rows="4" cols="40"></textarea>
            </div>

        </div>
    </div>

    <a class="edit">Edit</a>
</div>