<div class="diplomat-container">
    <div class="dip-header">
        <div class="logo">
            <img class="logo" src="assets/images/icon-logo.png"
             alt="image fail"/>
        </div>
        <h3 class="diplomat">Diplomat</h3>
        <div class="settings-profile-container">
            <img class="settings-profile" src="assets/images/icon-settings.png"
             alt="image fail" (click)="aFunction()"/>
            <img class="settings-profile" src="assets/images/icon-default-profile.png"
             alt="image fail" (click)="aFunction()"/>
        </div>
    </div>

    <div class="info-container">
        <p class="conflict-name">Conflict: {{conflictName}}</p>
        <p class="person1-name">Name: {{person1Name}}</p>
        <p class="person2-name">Name: {{person2Name}}</p>
        <p class="conflict-status">Conflict Status: {{conflictStatus}}</p>
        <p class="deadline">Deadline: {{deadline}}</p>
    </div>

    <a class="edit">Edit</a>
</div>