
<div class="nav-div">
    <nav>
        <a class="button" routerLink="/register" routerLinkActive="activebutton">Registration</a>
        <a class="button" routerLink="/login" routerLinkActive="activebutton">login</a>
        <a class="button" routerLink="/form1" routerLinkActive="activebutton">form1</a>
        <a class="button" routerLink="/form2" routerLinkActive="activebutton">form2</a>
        <a class="button" routerLink="/user-dashboard" routerLinkActive="activebutton">user-dashboard</a>
        <a class="button" routerLink="/mediator-dashboard" routerLinkActive="activebutton">mediator-dashboard</a>
        <a class="button" routerLink="/mediator" routerLinkActive="activebutton">mediator</a>
    </nav>
</div>

